<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>GameOnTM</title>
    <link rel="shortcut icon" href="../src/img/fav.jpg">
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../src/css/header.css">
    <link rel="stylesheet" href="../src/css/apanelcreate/body.css">
    <script src="../src/js/dropmenu.js" defer></script>
    <script src="../src/js/accCreator.js" defer></script>
</head>

<body>
    <div class="wrapper-container">
        <header class="header-container">
            <div class="header__logo">
                <img src="../src/img/logo.png" alt="Логотип">
            </div>
            <div class="header__burger-button">
                <a href="#"><img src="../src/img/downdropico.svg" alt="Бургер"></a>
            </div>
        </header>
        <main class="main-container">
            <section class="main__burger">
                <div class="main__burger-body">
                    <div class="main__burger-body__name"><span class="name">Name: </span> <span class="sname"><%=name%></span></div>
                    <div class="main__burger-body__position"><span class="position">Position: </span> <span class="sposition"><%=role%></span></div>
                    <div class="main__burger-body__logout_button"><a href="../logout" class="logout">Logout</a></div>
                </div>
            </section>
            <section class="main__adminpanel">
                <div class="main__adminpanel__body">
                    <div class="wrapper__adminpanel">
                        <h1 class="title">Account constructor</h1>
                        <form action="account_creator">
                            <div class="LogPass block">
                               <label for="Login">Login<p class="warning_text hide" id="Warning">Login already exist</p><input type="text" id="Login" name="Login"></label>
                                <label for="Password">Password<input type="password" id="Password" name="Password"></label>
                                <label for="RPassword">Repeat password<input type="password" id="RPassword" name="RPassword"></label>
                            </div>
                            <div class="flname block">
                                <label for="fName">First name<input type="text" id="fname" name="fName"></label>
                                <label for="lName">Last name<input type="text" id="lname" name="lName"></label>
                            </div>
                            <div class="role block">
                                <label for="Role">Role<input type="text" name="Role" list="Role"></label>
                                <datalist id="Role">
                                    <option value="TeamLeader">
                                    <option value="ProgEngineer">
                                </datalist>
                            </div>
                            <div class="Submit">
                                <input type="button" value="Back" id="Back">
                                <input type="button" value="Create" id="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>

</html>
