<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>GameOnTM</title>
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="src/css/header.css">
    <link rel="stylesheet" href="src/css/index/body.css">
    <script src="src/js/auth.js" defer></script>
</head>

<body>
<div class="wrapper-container">
    <header class="header-container">
        <div class="header__logo">
            <img src="src/img/logo.png" alt="Логотип">
        </div>

    </header>
    <main class="main-container">
        <section class="main__auth">
            <div class="main__auth-panel">
                <h1>Auth</h1>
                <form action="main__auth-panel__form">
                    <label for="login">Login</label><br>
                    <input type="text" id="login" name="login"><br>
                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password">
                    <input type="button" name="submit" id="submit" value="Signin">
                    <h3 class="error hidden">Wrong login or password</h3>
                </form>
            </div>
        </section>
    </main>
</div>
</body></html>
